# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
/build
/dist
/.next
/out

# Logs
logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE / Editor configs
.vscode/
.idea/
*.swp

# Coverage / test files
coverage/
*.lcov

# Misc
*.pem
